#landing {
  .container {
    background-color: #f7fffb;
    width: 100%;
    //background: url(../img/landing-bg.png);
    height: 730px;
    #landing-cookies {
      #landing-1 {
        left: 30%;
        width: 137px;
        height: 880px;
        background: url(../img/cookies/landing-cookie-1.png) no-repeat 0 50px;
      }
      #landing-2 {
        left: 60%;
        top: 100px;
        width: 188px;
        height: 880px;
        background: url(../img/cookies/landing-cookie-2.png) no-repeat 0 100px;
      }
    }
    .landing-outer {
      padding-top: 150px;
      .a {
      }

      .progress {
        position: relative;
        margin: auto;
        width: 126px;
        height: 100px;

        .progress-icon {
          position: absolute;
          width: 126px;
          height: 100px;
        }
        .colored {
          background: url(../img/progress-color.png);
        }
        .greyscale {
          background: url(../img/progress-gray.png);
        }

      }
      // end of progress
      .progress-text {
        text-align: center;
        font-family: btseps2;
        font-size: 40px;
        color: #729f88;
      }
      // end of progress text

      .logo {
        text-align: center;
        width: 110px;
        margin: auto;
      }
      .description {
        margin: auto;
        width: 400px;
        color: #999;
        font-size: 10px;
        text-align: center;
        margin-top: 12px;
        font-family: arial;
        p {
          margin: 0;
        }
      }
    }
  }
  // end of container
}

// fly header
.fly-header {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  #header-outer {
    background-color: #f1fff8;
    #header {
      background-color: #f1fff8;
      width: 1000px;
      height: 60px;
      margin: auto;
      img {
        display: inline-block;
        background-color: #f1fff8;
      }

      .links {
        display: inline-block;
        padding-bottom: 20px;
        padding-left: 50px;
        li {
          float: left;
          padding: 0 22px;
          border-right: 2px solid #939895;
          margin-top: 22px;
          line-height: 12px;
          a {
            text-decoration: none;
            color: #333;
            font-family: Arial;
            font-size: 12px;

            &:hover {
              color: #729f88;
            }
          }
        }
        li.last {
          border-right: 0px;
        }
      }
      // end of links

      .social-icons {
        display: inline-block;
        float: right;
        margin-top: 20px;
        li {
          float: left;
          display: inline-block;
          padding: 0 8px;
          span {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url(../img/social-icons.png);
          }
          #social-weibo {
            background-position: -7px -42px;
            &:hover {
              background-position: -7px -3px;
            }
            ;
          }
          #social-search {
            background-position: -48px -42px;
            &:hover {
              background-position: -48px -3px;
            }
            ;
          }
          #social-qq {
            background-position: -90px -42px;
            &:hover {
              background-position: -90px -3px;
            }
            ;

          }
        }
      }
      // end of social icon
    }
    // end of header
  }
  // end of header outer
}

// end of fly header

// end of landing page

// end of landing footer
#mainBody {
  width: 100%;
  position: relative;
  min-width: 1000px;
  overflow: hidden;
  font-family: Arial;

  .color-font-primary {
    color: #8aa095;
  }
  .color-font-secondary {
    color: #444444;
  }

  .slidesjs-navigation {
    text-decoration: none;
  }
  .container {
    width: 100%;
    margin: auto;
    position: relative;

    .title {
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      padding-top: 100px;
      z-index: 99998;
      color: #638273;
      position: absolute;
      .title-outer {
        text-align: center;
        .title-inner {
          text-align: right;
          display: inline-block;
          .h1 {
            font-size: 36px;
            font-family: Didot;;
          }
          .h2 {
            font-size: 16px;
            font-family: Hye1gj;
          }
        }
      }
      .spliter {
        height: 10px;
        background-image: url(../img/section-header-spliter.png);
      }
    }
    // end of title

  }

  #home {
    //margin-top: 60px;
    width: 100%;
    background-color: #fffcf8;

    .container {
      //background-image: url(../img/home2.png);
      height: 880px;
      position: relative;
      width: 100%;

      #new-prod-text {
        position: absolute;
        left: 217px;
        top: 200px;
        z-index: 999;
      }

      article {
        display: block;
        position: absolute;
        top: 330px;
        left: 217px;
        color: gray;
        font-size: 12px;
        width: 380px;
        z-index: 999;

      }
      // end of artical
      #home-cookies {
        #cookie-1 {
          background: url(../img/cookies/home-cookie-1.png) no-repeat 0 0px;
          width: 240px;
          height: 880px;
          left: 500px;
        }
        #cookie-2 {
          background: url(../img/cookies/home-cookie-2.png) no-repeat 0 500px;
          width: 442px;
          height: 880px;
          left: 120px;
        }
        #cookie-3 {
          background: url(../img/cookies/home-cookie-3.png) no-repeat 0 100px;
          width: 355px;
          height: 880px;
          right: 100px;
        }
        #home-girl {
          background: url(../img/cookies/home-girl-0.png) no-repeat;
          width: 576px;
          height: 880px;
          left: 600px;

        }
      }
      // end of home-cookies

      #select-menu {
        position: absolute;
        width: 10px;
        z-index: 99998;
        left: 30px;
        .container {
          width: 100%;
          height: 100%;
          position: relative;
          .selc {
            background: url("../img/cookies/home-switcher.png") no-repeat 0px 6px !important;
          }
          .sel {
            cursor: pointer;
            width: 30px;
            height: 30px;
            background: url("../img/cookies/home-switcher.png") no-repeat 0px -22px;

          }
          .balloon {
            opacity: 0;
            color: #aaa;
            width: 176px;
            height: 43px;
            background: url(../img/baloon.png) no-repeat;
            text-align: center;
            font-size: 16px;
            padding-top: 4px;
            position: absolute;
            left: 30px;
          }
          #kl {
            top: -22px;
          }
          #da {
            top: 8px;
          }
          #ju {
            top: 39px;
          }
          #nu {
            top: 68px;
          }
        }
        // end of select menu container

      }
    }
    // end of container
  }
  // end of home

  #about {
    width: 100%;
    background-color: #f2fcfd;
    .container {
      //background-image: url(../img/section-about-1224.png);
      background: #f2fcfd;
      height: 880px;
      overflow: hidden;

      #about-cookies {
        #about-cookie-1 {
          background: url(../img/cookies/about-cookie-1.png) no-repeat 0 0;
          width: 424px;
          height: 880px;
          left: 150px;
        }
        #about-cookie-2 {
          background: url(../img/cookies/about-cookie-2.png) no-repeat 0 500px;
          width: 144px;
          height: 880px;
          left: 140px;
        }
        #about-cookie-3 {
          background: url(../img/cookies/about-cookie-3.png) no-repeat 0 200px;
          width: 326px;
          height: 880px;
          right: 0px;
        }
        #about-cookie-4 {
          background: url(../img/cookies/about-cookie-5.png) no-repeat 0 130px;
          width: 1067px;
          height: 880px;
        }
        #about-girl1 {
          background: url(../img/cookies/about-girl.png) no-repeat 0 0;
          width: 630px;
          height: 880px;
          top: 150px;
          left: 200px;
        }

      }
      .about-summary-outer {
        position: absolute;
        left: 900px;
        z-index: 999;
        top: 320px;
        #about-summary {
          .jspVerticalBar {
            background: url(../img/cookies/about-scroll-bg.png) repeat-y 4px 5px;
            width: 26px;
            .jspTrack {
              background: url(..);
              .jspDrag {
                background: url(../img/cookies/about-scroll-leaf.png) no-repeat;
              }
            }
          }
        }
        .summary {
          width: 300px;
          height: 300px;
          font-size: 12px;
          color: #444444;
          font-family: Microsoft YaHei;
          line-height: 24px;
          p {
            margin: 0px;
          }
        }
        .h1 {
          left: 700px;
          top: 423px;
          font-size: 30px;
          color: #638273;
          font-family: Didot;
          display: block;
          margin-top: 36px;
        }
        .h2 {
          left: 700px;
          top: 449px;
          color: #638273;
          font-family: Didot;
          font-size: 20px;
          display: block;
        }
        .h3 {
          left: 700px;
          top: 469px;
          color: #638273;
          width: 250px;
          font-size: 12px;
          display: block;
          margin-top: 8px;
        }
      }
    }
    // end of container

  }
  // end of about

  #news-center {
    width: 100%;
    .container {
      height: 880px;
      width: 100%;
      background: #f7ffff;
      //background-image: url(../img/news-center.png);

      #news-center-mask {
        background: url(../img/news-center-mask.png) no-repeat;
        position: absolute;
        top: 240px;
        opacity: 0.80;
        //-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
        //filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
        //filter:alpha(opacity=80);
        z-index: 100;
        height: 524px;
        width: 100%;
      }
      // end of mask

      #news-center-cookies {
        #news-center-cookie-1 {
          background: url(../img/cookies/news-cookie-1.png) no-repeat 0 500px;
          width: 488px;
          height: 880px;
          left: 30%;
        }
        #news-center-cookie-2 {
          background: url(../img/cookies/news-cookie-2.png) no-repeat 0 200px;
          width: 142px;
          height: 880px;
          left: 50%;
        }
        #news-center-cookie-3 {
          background: url(../img/cookies/news-cookie-3.png) no-repeat 0 600px;
          width: 130px;
          height: 880px;
          left: 5px;
        }
        #news-center-cookie-4 {
          background: url(../img/cookies/news-cookie-4.png) no-repeat 0 650px;
          width: 140px;
          height: 880px;
          right: 100px;
        }
        #news-center-cookie-5 {
          background: url(../img/cookies/news-cookie-5.png) no-repeat 0 200px;
          width: 177px;
          height: 880px;
          left: 15%;
        }
        #news-center-cookie-6 {
          background: url(../img/cookies/news-cookie-6.png) no-repeat 0 160px;
          width: 366px;
          height: 880px;
          right: 5%;
        }
      }

      .content-outer {
        position: relative;
        z-index: 1111;
        width: 100%;
        top: 310px;
        .section-top {
          border-bottom: 1px solid #93b4a5;
          clear: both;
          height: 32px;

          .content {
            width: 1000px;
            margin: auto;
            .left {
              .color-font-secondary {
                font-size: 12px;
              }
            }

            .bg-date {
              color: #ffffff;
              background-color: #93b4a5;
              margin-left: 40px;
            }

          }
          // end of content
        }
        // end of section top
      }
      // end of content-outer

      #news {
        width: 1000px;
        padding-top: 16px;
        margin: auto;

        #news-articles {
          width: 480px;
          height: 600px;
          line-height: 22px;
          .scroll-panel {
            height: 300px;
            p {
              font-size: 12px;
            }
          }
          #news-nav-bar {
            position: relative;
            #next-news {
              position: absolute;
              left: 100px;
              top: 10px;
              font-size: 12px;
              color: #638273;
              font-family: Microsoft YaHei;
            }
          }
        }
        .right {
          width: 500px;
          height: 300px;
          overflow: hidden;
        }
        // end of news articals
      }
      // end of news
    }
    // end of container
  }
  // end of news center

  #products {
    .container {
      width: 100%;
      height: 880px;
      background-color: #fff9f7;

      .nav-bar {
        text-align: center;
        margin-top: 220px;
        position: absolute;
        width: 100%;
      }

      .prod-outer {
        position: relative;
        height: 560px;
        .scroll-prods {
          width: 3000px;
          clear: both;
          position: absolute;
          top: 220px;
          left: 0;
          .prod-show {
            float: left;
            padding-right: 1px;
            position: relative;

            a {
              &:focus {
                outline: none;
              }
              img {
                border: 0px;
              }
            }

            .zoom {
              position: absolute;
              left: 132px;
              top: 220px;
              display: inline-block;
              width: 76px;
              height: 91px;
              background: url(../img/zoom.png) no-repeat;
              display: none;
              cursor: pointer;
            }

            .image-overlay {
              position: absolute;
              display: block;
              color: aliceblue;
              background: rgba(0, 0, 0, 0.5);
              width: 330px;
              height: 530px;
              top: 0px;
              left: 0px;
              cursor: pointer;
            }
          }
          // end of prod-show
        }
        // end of scroll_ulNew
      }
      // end of prod outer

      #products-cookies {
        #product-cookie-1 {
          background: url(../img/cookies/products-cookie-1.png) no-repeat 0px -20px;
          width: 326px;
          height: 880px;
          right: 10%;
        }
        #product-cookie-2 {
          background: url(../img/cookies/products-cookie-2.png) no-repeat 0px 650px;
          width: 296px;
          height: 880px;
          left: 50%;
        }
        #product-cookie-3 {
          background: url(../img/cookies/products-cookie-3.png) no-repeat 0px 0px;
          width: 382px;
          height: 880px;
          left: 10%;
        }
      }

    }
    // end of container
  }
  // end of products

  #store {
    .container {
      width: 100%;
      height: 880px;
      background: #f7fdff;

      .query-section {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 190px;
        width: 100%;
        z-index: 99999;

        .province-sel {
          width: 100px;
          .sbSelector {
            width: 70px;
          }
          .sbOptions {
            width: 100px;
          }
        }

        .sbHolder {
          display: inline-block;
        }
      }
      // end of query section
      #store-cookies {
        #store-cookie-1 {
          background: url(../img/cookies/store-show-cookie-1.png) no-repeat 0px 0px;
          width: 341px;
          height: 880px;
          right: 2%;
        }
        #store-cookie-2 {
          background: url(../img/cookies/store-show-cookie-2.png) no-repeat 0px 200px;
          width: 120px;
          height: 880px;
          left: 30%;
        }
        #store-cookie-3 {
          background: url(../img/cookies/store-show-cookie-3.png) no-repeat 0px 500px;
          width: 149px;
          height: 880px;
          right: 20%;
        }
        #store-cookie-4 {
          background: url(../img/cookies/store-show-cookie-4.png) no-repeat 0px 550px;
          width: 417px;
          height: 880px;
          left: 5%;
        }
      } // end of cookies
      
      .store-gallery{
        width:100%;
        text-align: center;
        padding-top:300px;

        .store-gallery-inner{
          width:800px;
          margin:auto;
          position: relative;
        }

        .gallery-mask{
          width:800px;
          height:415px;
          position: absolute;
          left: 0;
          top:0;
          background: url(../img/store-show-border-image.png) no-repeat;
          z-index: 999;
        }
        .stores{
          width:795px;
          height:490px;
        }
        .store-image{
          position: absolute;
          left:0;
          top:0;
          z-index: 1;
          width:795px;
          height:414px;
          background: url(../img/store-show-img-1.png) no-repeat 20px 0px;
        }
      }

    }
    // end of container

  }
  // enf of store

  #vip-center {
    .container {
      width: 100%;
      height: 880px;
      background: #fff9f7;

      .login {
        position: absolute;
        top: 150px;
        width: 100%;
        height: 500px;
        text-align: center;
        z-index: 1;
        background: url(../img/login-bg.png) no-repeat center;
        #login-form {
          width: 414px;
          height: 100px;
          margin: auto;
          margin-top: 230px;

          .input-group {
            text-align: left;
            padding: 8px 0;
            label {
              display: inline-block;
              width: 120px;
              text-align: right;
              font-family: Microsoft YaHei;
              font-size: 12px;
              color: #638273;
              margin-right: 12px;
            }
            input {
              height: 25px;
              border-radius: 6px;
              width: 184px;
              border: 1px solid #ccc;
              box-shadow: 2px 2px 5px #ccc;
              font-size: 12px;
            }
          }

          .submit-btn {
            background: url(../img/login-btn-bg.png) no-repeat;
            width: 122px;
            height: 39px;
            font-size: 14px;
            color: #fff;
            border:0;
            margin-top:16px;
          }

        }
      }// end of login form

      .login-footer{
        position: absolute;
        top: 650px;
        z-index: 1;
        width: 100%;
        font-family: Didot;
        color:#638273;
        .desc{
          width:600px;
          margin:auto;
          text-align: center;
          font-size: 12px;
        }
        .split{
          width: 340px;
          height: 1px;
          background-color:#638273;
          margin:auto;
          margin-top:30px;
        }
        .wizard{
          margin-top:30px;
          text-align: center;
          font-size: 26px;
        }

      } //end of login footer
      #login-cookies {
        #login-cookie-1 {
          background: url(../img/cookies/login-cookie-1.png) no-repeat 0px -50px;
          width: 390px;
          height: 880px;
          right: 5%;
        }
        #login-cookie-2 {
          background: url(../img/cookies/login-cookie-2.png) no-repeat 0px 500px;
          width: 477px;
          height: 880px;
          right: 25%;
        }
        #login-cookie-3 {
          background: url(../img/cookies/login-cookie-3.png) no-repeat 0px 0px;
          width: 570px;
          height: 880px;
          left: 5%;
        }
      }
      // end of login
    }
    // end of container
  }
  // end of vip center

  #contact-us{
    .container{
      width: 100%;
      height: 880px;
      background: #f7fdff;

      .content{
        position: absolute;
        width: 100%;
        top:250px;
        left:0;
        text-align: center;
        .content-inner{
          width:1000px;
          margin:auto;

          .map{
            width:423px;
            height: 441px;
            background:url(../img/contact-us-map.png) no-repeat;
            float:left;
          }
          .desc{
            float:left;
            margin-left:50px;
            margin-top:50px;
            width:330px;
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            color: #638273;
            font-family: Microsoft YaHei;

            .tel,.designby,.copyright,.binary{
              margin-top:16px;
            }
          }


        }
      }// end of content
    }// end of container
  }// end of contact us
}

// end of mainBody