.landing-footer {
  position: absolute;
  width: 100%;
  top: 672px;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  #header-outer {
    background-color: #f1fff8;
    #header {
      background-color: #f1fff8;
      width: 1000px;
      height: 60px;
      margin: auto;
      img {
        display: inline-block;
        background-color: #f1fff8;
      }

      .links {
        display: inline-block;
        padding-bottom: 20px;
        padding-left: 50px;
        li {
          float: left;
          padding: 0 22px;
          border-right: 2px solid #939895;
          margin-top: 22px;
          line-height: 12px;
          a {
            text-decoration: none;
            color: #333;
            font-family: Microsoft Yahei;
            font-size: 12px;

            &:hover {
              color: #729f88;
            }
          }
        }
        li.last {
          border-right: 0px;
        }
      }
      // end of links

      .social-icons {
        display: inline-block;
        float: right;
        margin-top: 20px;
        li {
          float: left;
          display: inline-block;
          padding: 0 8px;
          span {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url(../img/social-icons.png);
          }
          #social-weibo {
            background-position: -7px -42px;
            &:hover {
              background-position: -7px -3px;
            }
            ;
          }
          #social-search {
            background-position: -48px -42px;
            &:hover {
              background-position: -48px -3px;
            }
            ;
          }
          #social-qq {
            background-position: -90px -42px;
            &:hover {
              background-position: -90px -3px;
            }
            ;

          }
        }
      }
      // end of social icon
    }
    // end of header
  }
  // end of header outer
}

// end of landing footer
#mainBody {
  width: 100%;
  position: relative;
  min-width: 1000px;
  overflow: hidden;
  font-family: Arial;

  .color-font-primary {
    color: #8aa095;
  }
  .color-font-secondary {
    color: #444444;
  }

  .slidesjs-navigation {
    text-decoration: none;
  }
  .container {
    width: 100%;
    margin: auto;
    position: relative;

    .title {
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      padding-top: 130px;
      color: #638273;
      .h1 {
        text-align: right;
        font-size: 36px;
        font-family: Didot;;
      }
      .h2 {
        text-align: right;
        font-size: 12px;
      }
      .spliter {
        height: 10px;
        background-image: url(../img/section-header-spliter.png);
      }
    }
    // end of title

  }

  #home {
    .container {
      background-color: #f7fffb;
      width: 100%;
      //background: url(../img/landing-bg.png);
      height: 730px;
      #landing-cookies {
        #landing-1 {
          left: 30%;
          width: 137px;
          height: 880px;
          background: url(../img/cookies/landing-cookie-1.png) no-repeat 0 50px;
        }
        #landing-2 {
          left: 60%;
          top: 100px;
          width: 188px;
          height: 880px;
          background: url(../img/cookies/landing-cookie-2.png) no-repeat 0 100px;
        }
      }
      .landing-outer {
        padding-top: 150px;
        .a {
        }

        .progress {
          position: relative;
          margin: auto;
          width: 126px;
          height: 100px;

          .progress-icon {
            position: absolute;
            width: 126px;
            height: 100px;
          }
          .colored {
            background: url(../img/progress-color.png);
          }
          .greyscale {
            background: url(../img/progress-gray.png);
          }

        }
        // end of progress
        .progress-text {
          text-align: center;
          font-family: btseps2;
          font-size: 40px;
          color: #729f88;
        }
        // end of progress text

        .logo {
          text-align: center;
          width: 110px;
          margin: auto;
        }
        .description {
          margin: auto;
          width: 400px;
          color: #999;
          font-size: 10px;
          text-align: center;
          margin-top: 12px;
          font-family: arial;
          p {
            margin: 0;
          }
        }
      }
    }
    // end of container
  }
  // end of home

  #new-prod {
    width: 100%;
    background-color: #fffcf8;

    .container {
      //background-image: url(../img/home2.png);
      height: 880px;
      position: relative;
      width: 100%;

      #new-prod-text {
        position: absolute;
        left: 217px;
        top: 200px;
        z-index: 999;
      }

      article {
        display: block;
        position: absolute;
        top: 330px;
        left: 217px;
        color: gray;
        font-size: 12px;
        width: 380px;
        z-index: 999;

      }
      // end of artical
      #home-cookies {
        #cookie-1 {
          background: url(../img/cookies/home-cookie-1.png) no-repeat 0 0px;
          width: 240px;
          height: 880px;
          left: 500px;
        }
        #cookie-2 {
          background: url(../img/cookies/home-cookie-2.png) no-repeat 0 400px;
          width: 442px;
          height: 880px;
          left: 120px;
        }
        #cookie-3 {
          background: url(../img/cookies/home-cookie-3.png) no-repeat 0 100px;
          width: 355px;
          height: 880px;
          right: 100px;
        }
        #home-girl {
          background: url(../img/cookies/home-girl.png) no-repeat;
          width: 576px;
          height: 880px;
          left: 600px;

        }
      }
    }
    // end of container
  }
  // end of prod

  #about {
    width: 100%;
    background-color: #f2fcfd;
    .container {
      //background-image: url(../img/section-about-1224.png);
      height: 880px;

      #about-cookies {
        #about-cookie-1 {
          background: url(../img/cookies/about-cookie-1.png) no-repeat 0 0;
          width: 424px;
          height: 880px;
          left: 150px;
        }
        #about-cookie-2 {
          background: url(../img/cookies/about-cookie-2.png) no-repeat 0 500px;
          width: 144px;
          height: 880px;
          left: 140px;
        }
        #about-cookie-3 {
          background: url(../img/cookies/about-cookie-3.png) no-repeat 0 200px;
          width: 326px;
          height: 880px;
          right: 0px;
        }
        #about-cookie-4 {
          background: url(../img/cookies/about-cookie-4.png) no-repeat 0 230px;
          width: 560px;
          height: 880px;
          left: 700px;
        }
        #about-girl {
          background: url(../img/cookies/about-girl.png) no-repeat 0 0;
          width: 630px;
          height: 880px;
          top: 150px;
          left: 200px;
        }

      }
      .about-summary-outer {
        position: absolute;
        left: 900px;
        z-index: 999;
        top: 320px;
        #about-summary {
          .jspVerticalBar {
            background: url(../img/cookies/about-scroll-bg.png) repeat-y 4px 5px;
            width: 26px;
            .jspTrack {
              background: url(..);
              .jspDrag {
                background: url(../img/cookies/about-scroll-leaf.png) no-repeat;
              }
            }
          }
        }
        .summary {
          width: 300px;
          height: 300px;
          font-size: 12px;
          color: #444444;
          font-family: Microsoft YaHei;
          p {
            margin: 0px;
          }
        }
        .h1 {
          left: 700px;
          top: 423px;
          font-size: 30px;
          color: #638273;
          font-family: Didot;
          display: block;
          margin-top: 36px;
        }
        .h2 {
          left: 700px;
          top: 449px;
          color: #638273;
          font-family: Didot;
          font-size: 20px;
          display: block;
        }
        .h3 {
          left: 700px;
          top: 469px;
          color: #638273;
          width: 250px;
          font-size: 12px;
          display: block;
          margin-top: 8px;
        }
      }
    }
    // end of container

  }
  // end of about

  #news-center {
    width: 100%;
    .container {
      height: 880px;
      width: 100%;
      background: #f7ffff;
      //background-image: url(../img/news-center.png);

      #news-center-mask {
        background: url(../img/news-center-mask.png) no-repeat;
        position: absolute;
        opacity: 0.80;
        //-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
        //filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
        //filter:alpha(opacity=80);
        z-index: 100;
        height: 524px;
        width: 100%;
      }

      .title {
        padding-top: 130px;
      }
      .content-outer {
        position: relative;
        z-index: 1111;
        .section-top {
          border-bottom: 1px solid #93b4a5;
          clear: both;
          height: 32px;
          margin-top: 70px;

          .content {
            width: 1000px;
            margin: auto;
            .left {
              .color-font-secondary {
                font-size: 12px;
              }
            }

            .bg-date {
              color: #ffffff;
              background-color: #93b4a5;
              margin-left: 40px;
            }

          }
          // end of content
        }
        // end of section top
      }
      // end of content-outer

      #news {
        width: 1000px;
        padding-top: 16px;
        margin: auto;

        #news-articles {
          width: 480px;
          height: 600px;
          .scroll-panel {
            height: 300px;
            p {
              font-size: 12px;
            }
          }
          #news-nav-bar {
            position: relative;
            #next-news {
              position: absolute;
              left: 100px;
              top: 10px;
              font-size: 12px;
              color: #638273;
              font-family: Microsoft YaHei;
            }
          }
        }
        .right {
          width: 500px;
          height: 300px;
          overflow: hidden;
        }
        // end of news articals
      }
      // end of news
    }
    // end of container
  }
  // end of news center

  #products {
    .container {
      width: 100%;
      height: 880px;
      background: url(../img/products.png);

      .nav-bar {
        text-align: center;
      }

      .prod-outer {
        position: relative;
        height: 560px;
        .scroll-prods {
          width: 3000px;
          clear: both;
          position: absolute;
          top: 20px;
          left: 0;
          .prod-show {
            float: left;
            padding-right: 1px;
            position: relative;

            a {
              &:focus {
                outline: none;
              }
              img {
                border: 0px;
              }
            }

            .image-overlay {
              position: absolute;
              display: block;
              color: aliceblue;
              background: rgba(0, 0, 0, 0.5);
              width: 330px;
              height: 530px;
              top: 0px;
              left: 0px;
              cursor: pointer;
            }
          }
          // end of prod-show
        }
        // end of scroll_ulNew
      }
      // end of prod outer

    }
  }
  // end of products

  #store {
    .container {
      width: 100%;
      height: 880px;
      background: url(../img/store-show.png);

      .query-section {
        margin: auto;
        text-align: center;
        padding-top: 12px;

        .province-sel {
          width: 100px;
          .sbSelector {
            width: 70px;
          }
          .sbOptions {
            width: 100px;
          }
        }

        .sbHolder {
          display: inline-block;
        }
      }
      // end of query section

    }

  }
  // enf of store

  #vip-center {
    .container {
      width: 100%;
      height: 880px;
      background: url(../img/vip-center.png);

      .login {
        width: 1000px;
        height: 500px;
        margin: auto;
        background: url(../img/login-bg.png) no-repeat 50% 0;
      }
    }
  }
}

// end of mainBody